{% if site.disqus_username %}
<!-- disqus start -->
<!--
 <div id="showCommentsDiv" onclick="toggleDisqus('showDisqus')">Show reactions</div>
-->
<script>
 function toggleDisqus(id) {
     var div = document.getElementById(id);
     var parentDiv = document.getElementById("showCommentsDiv");
     
     div.style.display = div.style.display == "none" ? "block" : "none";

     if (div.style.display == "none" && parentDiv.innerText == "Show reactions"){
	 parentDiv.innerText = "Hide reactions";
	 div.style.display = "block";
     } else if (parentDiv.innerText == "Hide reactions") {
	 parentDiv.innerText = "Show reactions";
	 div.style.display = "none";
     }
     if (div.style.display == "block"){
	   parentDiv.innerText = "Hide reactions";
     }
 }
</script>

<!-- <div class="comment" id="showDisqus"> -->
    <div id="disqus_thread" class="disqus-thread"></div>
    <!-- </div> -->
<script>
 /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
 /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
  */
 (function() { // DON'T EDIT BELOW THIS LINE
     var d = document, s = d.createElement('script');
     s.src = 'https://iamlost-faith.disqus.com/embed.js';
     s.setAttribute('data-timestamp', +new Date());
     (d.head || d.body).appendChild(s);
 })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<!-- disqus end -->
{% endif %}
