<!-- https://codepen.io/gtolan/pen/jemyEQ  -->
<div id="share">
    <h3 id="exclude-share">Share this on</h3>
    <!-- facebook -->
    <a class="facebook" href="https://www.facebook.com/share.php?u={{site.url}}{{page.url}}&title={{ page.title }}"
        target="blank"><i class="fa fa-facebook"></i></a>

    <!-- twitter -->
    <a class="twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}{% if page.author %} . A story by {{ page.author }}{% endif %}&url={{site.url}}{{page.url}}"
        target="blank"><i class="fa fa-twitter"></i></a>

    <!-- whatsaap plus -->
    <a class="whatsapp" href="https://wa.me/?text={{site.url}}{{page.url}}"><i
            class="fa fa-whatsapp" aria-hidden="true"></i></a>
    <!-- link -->
    <a class="link" onclick="shareLink()"><i class="fa fa-share" aria-hidden="true"></i></a>
</div>

<script>
    const shareLink = async () => {
	try {
	    await navigator.clipboard.writeText('{{ site.url }}{{ page.url }}');
	    createSnackbar({
		message: 'Copied!',
		duration: 3000
	    });
	} catch (err) {
	    console.error('Failed to copy: ', err);
	}
    };
</script>
